@using WebNetSample.Entity.Dtos;
@model IEnumerable<SupplierDetailDto>

@{
    ViewData["Title"] = "Suppliers Page";
}

<ul>
    @foreach (var item in Model)
    {
        <li>@item.Name</li>
    }
</ul>