@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Epam WEB .NET Mentoring Program</h1>
    <h3 class="text-danger">Created by Osman Ali YARDIM</h3>
</div>