@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Epam WEB .NET Mentoring Program</h1>
    <h5 class="text-danger"><span class="text-dark">Mentee </span> Osman Ali YARDIM</h5>
    <h5 class="text-warning"><span class="text-dark">Mentor </span> Dzmitry Yaniuk</h5>
</div>