@using WebNetSample.Entity.Dtos;
@using WebNetSample.WebNetMVC.Components
@using WebNetSample.Core.Extensions;
@model IEnumerable<CategoryDetailDto>

@{
    ViewData["Title"] = "Detailed Categories Page";
}

@section Footer {
    <h3 class="alert alert-warning text-center">You can <strong class="text-danger">NOT</strong> edit categories on this page!</h3>
}

<p>
    <a class="btn btn-success" asp-controller="Categories" asp-action="Add" style="text-transform:uppercase">New Category</a>
</p>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th colspan="7" class="text-center bg-dark text-light" style="text-transform:uppercase">Categories With Details</th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th>Image File</th>
            <th>Operations</th>
        </tr>
    </thead>
    @await Component.InvokeAsync(nameof(CategoriesWidget))
</table>